*:focus {
    outline: none;
}

* {
    border-radius: 0px !important;
}

$pri-color: rgb(142, 132, 189); // #5da1b4 ;
$tab-border-color: #73778c;
$border-color: #444267; // #e0e0e0;
$link-hover: #a8adc3;
$font-color: #444152;
$HRFcolor: #413d56;
$HRScolor: #2e414d;
$HRdeg: 135deg;
$HRScolorLight: #2d5873;
$bg-color: #fbfcf7;
$best-green: #57fdc5;
html {
    min-height: 100%;
}

body {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
    padding-bottom: 100px;
    font-weight: 300;
}

.nav {
    padding-left: 15px;
}

.nav-tabs {
    margin-bottom: 50px;
    border-bottom: 0px;
    //margin-top: 75px;
    li {
        margin-right: 0px;
        opacity: .6;
        &.active,
        &:focus,
        &:hover {
            opacity: 1;
            a {
                cursor: default !important;
                background-color: transparent !important;
                border: 0px !important;
                border-bottom: 4px solid $tab-border-color !important;
                &,
                &:focus,
                &:hover {
                    color: $link-hover;
                }
            }
        }
        a {
            text-transform: capitalize;
            border-radius: 0px;
            background-color: transparent;
            font-size: 22px;
            //width: 220px;
            padding-left: 0;
            border: 0px;
            border-bottom: 4px solid rgb(115, 119, 140);
            color: $link-hover;
            line-height: 2.355;
            text-align: left;
            /* z-index: 64; */
            span {
                font-size: 10px;
                //color: white;
                /* line-height: 5.186; */
                margin-left: 6px;
                text-align: center;
                border-radius: 50%;
                //background-color: rgba(0, 0, 0, 0.7);
                //width: 28px;
                vertical-align: super;
                //height: 28px;
                padding: 0px;
                display: inline-block;
            }
        }
    }
}

.tab-content {
    &:hover {
        .table-row {
            border-bottom: 2px solid $border-color;
            opacity: 0.6;
            &.active {
                opacity: 1;
                h2,
                span {
                    color: $font-color !important;
                }
            }
        }
    }
    .tab-pane,
    .addList {
        .table-row {
            border-bottom: 2px solid #444267 !important;
            -webkit-transition: all .2s;
            /* Safari 3.1 to 6.0 */
            transition: all .2s;
            &.active {
                h2,
                span {
                    color: $font-color !important;
                }
                .choises-col {
                    margin: 0 -9px;
                    display: block;
                }
                .error {
                    display: block;
                }
            } /////  end of hide outside active 
            .choises-col {
                display: none;
                a {
                    float: left;
                    padding: 10px 20px;
                    // margin: 0 10px;
                    margin: 2px 10px;
                    background-color: #413d56;
                    color: #fff;
                    &.choise {}
                }
            }
            &:hover {
                // background-color: rgba(0, 0, 0, 0.03);
                opacity: 1;
            }
            a {
                text-decoration: none;
                display: block;
            }
            div[class*="col"] {
                h2,
                span {
                    padding: 25px 0px;
                    display: block;
                    color: $pri-color;
                }
                h3 {
                    font-size: 16px;
                    margin: 0px;
                    font-weight: normal;
                    padding: 0px 0px 15px;
                    color: #000;
                }
                h2 {
                    font-size: 21px;
                    // line-height: 1.5;
                    margin: 0px;
                    font-weight: 300;
                    // padding: 15px 0px 0px;
                    color: #fff;
                    .desc-icon {
                        margin: 0px 0px 0px;
                    }
                }
                .date {
                    color: rgba(0, 0, 0, 0.5);
                    opacity: 0.4;
                    text-align: right;
                }
                .comment {
                    background: url("assets/svg/comment.svg") no-repeat center center;
                    text-indent: -9999px;
                    height: 70px;
                    background-size: 26px;
                    opacity: .4;
                    border: none;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

// $Fcolor : #ffffff;
// $Scolor : #e3e5dd ;
// $deg : 45deg;
@mixin gradiant($Fcolor,
$Scolor,
$deg) {
    background: $Fcolor;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($deg, $Fcolor, $Scolor);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($deg, $Fcolor, $Scolor);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($deg, $Fcolor, $Scolor);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient($deg, $Fcolor, $Scolor);
    /* Standard syntax */
}

.bg-grad {
    @include gradiant($HRFcolor,
    $HRScolor,
    $HRdeg);
}

header {
    .menu-icon {
        margin-top: 80px;
        font-size: 21px;
        color: $pri-color;
        span {
            color: $bg-color;
        }
    }
}

.time {
    font-size: 150px;
    float: right;
    font-weight: lighter;
    color: white;
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    position: relative;
    z-index: -1;
    span {
        font-size: 20px;
    }
}


/*
boot strap hack 
*/

h1.time {
    font-size: 60px;
    text-align: left;
    float: left;
}

.no-gutter> [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.comment+ .PopupCont-comment {
    display: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// .hide{
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }
// .accordion{
// //   background: #fff;
// //   width: 400px;
// //   border: 1px solid $border-color;
// }
// .accordion-item{
// 	position: relative;
// 	//width: 100%;
//   //border-bottom: 1px solid $border-color;
// 	&:last-child{
// 	}
// }
.accordion-item {
    margin: 0;
    /*overflow: hidden;*/
    transition: all 0.3s ease;
    .accordion-child {
        a {
            height: 40px;
        }
    }
    //   opacity: 0;
    //   height: 20px;
    //   transform: scale(1,0);
    //   transform-origin: center top;
    .quesType,
    .score {
        display: none;
    }
    .score {
        // margin-top: 25px;
        //padding-left: 30px;
        p {
            font-size: 17px !important;
            color: rgba(0, 0, 0, 0.4) !important;
            line-height: 3.989;
            text-align: left;
        }
    }
    &.active {
        border: 0px solid #e0e0e0;
        margin: 0 -43px 15px;
        background: #fbfcf7;
        box-shadow: 0px 5px 39px 1px rgba(0, 0, 0, 0.16);
        padding: 30px 43px;
        height: auto;
        opacity: 1;
        .quesType,
        .score {
            display: block;
        }
        div[class*="col"] {
            h2 {
                padding: 0 0px 14px !important;
            }
            p {
                font-size: 16px;
                color: rgb(0, 0, 0);
                line-height: 1.5;
                span {
                    display: inline !important;
                }
            }
        }
    }
}

.popover {
    max-width: 365px;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, .3)
}

.popover-content {
    padding: 30px 40px;
    .row {
        margin: 0;
        line-height: normal;
        font-size: 13px;
        padding: 12px 0 0;
        .col-md-12 {
            padding: 0;
            &:first-child {
                padding-bottom: 15px;
            }
        }
        textarea {
            padding: 15px !important;
            max-width: 305px;
            min-height: 80px;
            border: 1px solid rgba(0, 0, 0, 0.16);
            width: 100%;
        }
        button {
            background: #3cc17e;
            float: right;
            color: #fff;
            width: 100px;
            padding: 10px;
            text-align: center;
            margin-top: 12px;
        }
    }
    .com-row {
        padding: 22px 0;
        border-top: 1px solid RGBA(0, 0, 0, 0.13);
        &.first {
            border-top: none;
            padding-top: 0px;
        }
        .name {
            font-weight: 700;
            margin: 15px 10px 15px 0px;
        }
        .date {
            opacity: 0.4;
        }
    }
}

.popover.bottom>.arrow {
    border-bottom-color: transparent;
}

.openedTask {
    .close,
    .mtsTitle,
    .MQTitle {
        display: block;
    }
}

.close,
.mtsTitle,
.MQTitle {
    display: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 100;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    /* position: absolute; */
    /* right: 10px; */
    /* top: 8px; */
    margin: -13px -30px;
    .icon {
        background: url('assets/svg/close.svg') no-repeat center center;
        padding: 9px;
    }
}

.addList {
    background-color: $bg-color;
    h2 {
        color: $font-color !important;
    }
    a {
        color: #666 !important;
    }
    .active {
        h2 {
            display: none !important;
        }
        input {
            border-style: solid;
            padding: 16px;
            font-size: 23px;
            border-width: 1px;
            border-color: #d4d4d4;
            width: 100%;
        }
        input:focus {
            border-color: $link-hover;
        }
        .input-div,
        .option-link {
            display: block;
        }
    }
    h2 {
        span {
            display: inline-block !important;
            padding: 0px 9px !important;
            background-color: #414141;
            border-radius: 50%;
            margin-right: 20px;
            color: #fff !important;
            font-size: 20px;
        }
    }
    .input-div,
    .option-link {
        display: none;
    }
    .close {
        margin-bottom: 8px;
        .icon {
            padding: 7px;
        }
    }
    .option-link {
        margin-top: 25px;
        .col-md-1 {
            margin-right: -30px;
        }
        input.init-score {
            height: 30px;
            display: table-cell;
            vertical-align: middle;
            font-size: large;
            color: #AFB0AC;
            border: none;
            background-color: transparent;
        }
        .hidden-div {
            display: none;
        }
        .desc-icon,
        .person-icon {
            height: 34px !important;
            opacity: 0.4;
        }
        .show2 {
            .desc-icon,
            .person-icon {
                opacity: 1;
            }
            .hidden-div {
                display: block;
            }
            .init-score {
                display: none;
            }
        }
    }
}

.desc-icon {
    background: url("assets/img/desc.png") no-repeat center center;
    padding: 10px !important;
    background-size: 95%;
    display: table-caption !important;
}

.person-icon {
    background: url("assets/img/person.png") no-repeat center center;
    padding: 10px !important;
    background-size: 95%;
    display: table-caption !important;
}

.logo-icon {
    background: url("assets/img/logo.png") no-repeat center center;
    padding: 10px !important;
    background-size: 95%;
    display: inline-block;
    width: 75px;
    margin-right: 8px;
}

section#intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    h1{
            font-weight: 100;
            color: #57fdc5;
            margin: 30px auto;
            float: inherit;
            max-width: 500px;
            text-align: center;
    }
    .dropdown {
        margin: 0 auto;
        float: none;
        display: table;
        width: auto;
        #dLabel {
            font-size: x-large;
            background: $best-green; // #2e3a44;
            // @include  gradiant( $HRScolorLight , $HRFcolor ,  $HRdeg) ;
            padding: 15px 55px;
            color: #2e3a44;
            text-decoration: none;
            font-weight: 300;
            &:active {
                background: #2e3a44; // #2e3a44;
                color: $best-green;
            }
        }
        ul {
            min-width: 100%;
            li {
                min-width: 100%;
                a {
                    padding: 15px 55px;
                    min-width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.dropdown-menu {
    min-width: 100%;
}

.total-hour {
    .container {
        // width: 260px;
        // float: right;
    }
}

button {
    //    background: #3cc17e;
    float: right;
    color: #fff !important;
    /* width: 190px; */
    padding: 12px 65px !important;
    text-align: center;
    -webkit-transition: all .7s;
    /* Safari 3.1 to 6.0 */
    transition: all .7s;
    &.btn-defulte {
        @include gradiant($HRFcolor,
        $HRScolorLight,
        $HRdeg);
    }
    &:hover {
        // @include  gradiant($HRScolorLight , $HRFcolor , $HRdeg) ;
        //   color: #fff;
        //  padding: 12px 75px;
    }
    &:active {
        background-color: $HRFcolor;
    }
}

.result {
    width: 100%;
    padding: 20px 0;
    background: $best-green !important;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
    color: $HRScolor !important;
    &:hover {
        background: $best-green !important;
    }
    &:active {
        background-color: $HRFcolor !important;
        color: #fff !important;
    }
}

.warp-all.animation.ng-hide-add,
.animation.ng-hide-remove {
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    display: block!important;
}

.animation.ng-hide-add {
    -webkit-transition: all linear 1.5s 2s;
    -moz-transition: all linear 1.5s 2s;
    -o-transition: all linear 1.5s 2s;
    transition: all linear 1.5s 2s;
    display: block!important;
}

.sendmas.animation.ng-hide-remove {
    -webkit-transition: all linear 1s 1.5s;
    -moz-transition: all linear 1s 1.5s;
    -o-transition: all linear 1s 1.5s;
    transition: all linear 1s 1.5s;
    display: block!important;
}

.animation.ng-hide-add.ng-hide-add-active,
.animation.ng-hide-remove {
    opacity: 0;
}

.animation.ng-hide-add,
.animation.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.twest .time {
    font-size: 40px;
    position: fixed;
    top: 0;
    margin: 0;
    right: 0;
    background: #57fdc5;
    z-index: 1000000;
    padding: 10px 20px;
    box-shadow: 1px 1px 32px #000;
    color: #403d55;
}

section#intro .dropdown ul {
    min-width: 100%;
    margin-top: 22px;
}

.addopt {
    background: $best-green
}

*[contenteditable] {
    &:focus,
    &:active {
        padding: 10px 20px !important;
        margin: 0 -20px;
        background: url("assets/img/desc.png") rgba(171, 171, 171, 0.13) no-repeat 97% center;
        background-size: 15px;
    }
}

.accordion-item.active div[class*="col"] h2[contenteditable]{
        padding: 10px 20px !important;
}

.error {
    color: red;
    padding: 10px 20px;
    // float: none;
    display: none;
}

#mq {
    .score {
        margin-top: 25px;
    }
}

.dur {
    margin-top: 15px;
    P {
        line-height: 0.8;
    }
}

.sendmas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    left: 54%;
    h2 {
        font-weight: 300;
        font-size: -webkit-xxx-large;
        line-height: 1;
        width: 290px;
    }
    h1 {
        ine-height: 0;
        margin-bottom: 40px;
    }
}

.get {
    background-color: $best-green !important;
    color: $HRFcolor !important;
}


[data-toggle="dropdown"]{
    height: 46px;
    /* padding: 20px 10px; */
}

[data-toggle="dropdown"] >  div{
      padding: 10px 10px;
      }

      .accordion-item .accordion-child ul a {
    height: auto;
    padding: 10px 20px;
}
@import 'responsive.scss';