.warp-all(ng-show="empin")
    header
        .container
            .row
                .col-md-12
                    .menu-icon 
                        //span.logo-icon  
                        | Personas : 
                        span Emploee
            

    section.total-hour
        .container
            .row
                .col-md-12
                    .time 63
                        span  Score
                             
    section.tasks
        .container
            .row
                div.col-md-12
                    h1.time  {%  phases.ms[1][0].title %}
            .row
                // Tab panes
                div.col-md-12
                    .tab-content
                        .tab-pane.fade.in(role='tabpanel',id="mq", class=" active")
                            .row.table-row.no-gutter.accordion-item(ng-repeat="task in phases.ms[1][0].Qlist ")
                                a.col-md-12.accordion-child()
                                    .row
                                        .col-md-10.col-xs-8
                                            .row
                                                .col-md-12
                                                    h2 {%task.title%} 
                                                        //- span.desc-icon
                                                .col-md-12.description
                                                    p   {%task.description%} 
 


                                        


