.warp-all(ng-show="hrin")
    header
        .container
            .row
                .col-md-12
                    .menu-icon 
                        //span.logo-icon  
                        | Personas : 
                        span HR Representative 
            

    section.total-hour
        .container
            .row
                .col-md-12
                    .time 63
                        span  Hours
                             
    section.Ques
        .container
            .row
                div.col-md-12
                    // Nav tabs
                    ul.nav.nav-tabs.row.no-gutter(role='tablist')
                        li.col-md-3.col-sm-3.col-xs-12(role='presentation', ng-repeat="(key , phase) in phases ", class="{%$index ==0 ? 'active': ''%}")
                            a(href='#{%key%}', aria-controls='{%key%}', role='tab', data-toggle='tab') {%phase[0]%}
                                span {%phase[1].length%}

                    // Tab panes
                    .tab-content
                        .tab-pane.fade.in(role='tabpanel',id="mq", class=" active")
                            include ./hrmq.jade 
                        .tab-pane.fade.in(role='tabpanel',id="ms")                            
                            include ./hrms.jade 
                        .tab-pane.fade.in(role='tabpanel',id="mts")                            
                            include ./hrmts.jade 

                                

  
                                        


 