.row.table-row.no-gutter.accordion-item(ng-repeat="ques in phases.mq[1] track by $index")
        // a.col-md-12(role='button', data-toggle='collapse', href='#{% 'ms' + $index%} ', aria-expanded='false', aria-controls='{%key + $index%}  ')
        .col-md-12.accordion-child( href="#{% 'ms' + $index%}" ) 
            .row
                .col-md-12
                    .row
                        .col-md-12
                            h2(contenteditable, contenteditable-dir, ng-model="ques.title" , ng-blur="test(ques)" )  {%ques.title%} 
                                //span.desc-icon
                        .col-md-12.quesType
                            div(question-type , q-type="ques" ) 
                        .col-md-12.score(ng-show="hrin")
                            p Score : 
                                span(contenteditable , contenteditable-dir, ng-model="ques.score" ,ng-blur="test(ques)", integer ) {% ques.score %}
                
                                                
.addList(id="", class="") 
    .row.table-row.no-gutter.accordion-item()
        .col-md-12.accordion-child()
            .row
                .close.col-md-12
                        .icon.pull-right
                .col-md-12
                    form.row(name="mqForm")
                        .col-md-12
                            h2 
                                span +  
                                | Add to this list
                        .col-md-12.input-div
                            input(type="text",placeholder="What you Would like to Ask about ? ", ng-model="newQues.Title",name="title" , required )  
                        .col-md-12.error(ng-show=" ( mqForm.title.$touched &&  mqForm.title.$error.required  )  || mqsubmitedtitle ")  Please enter a Question .                         
                        .col-md-12.option-link
                            .row 
                                .col-md-9
                                    .row
                                        .col-md-1.col-sm-1.col-xs-2
                                            .desc-icon
                                        .col-md-11.col-xs-10.col-sm-11
                                                .dropdown
                                                    a#QuesType(type="button" data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                        .init-score {% newQues.Text || ' Chose your Question type ' %}
                                                        span.caret
                                                    ul.dropdown-menu(aria-labelledby='QuesType')
                                                        li
                                                            a.hr(hr, ng-click=" newQues.Type  = 1 ;  newQues.Text  = 'Yes || No' ") Yes || No
                                                        li
                                                            a.emp(hr, ng-click=" newQues.Type  = 2 ;  newQues.Text  = 'Single Selection' ")  Single Selection
                                                        li
                                                            a.emp(hr, ng-click=" newQues.Type  = 3 ;  newQues.Text  = 'Multiple Selection' ")  Multiple Selection
                                                .row 
                                                    .col-md-12.error(ng-show="mqsubmitedType ")  Please chose Question Type 
                                    .row
                                        .col-md-1.col-sm-1.col-xs-2
                                            .person-icon
                                        .col-md-11.col-xs-10.col-sm-11
                                            input.init-score(tybe="number",placeholder="Question Score ",ng-model="newQues.Score", name="score", required)  
                                            .row 
                                                .col-md-12.error(ng-show="( mqForm.score.$touched &&  mqForm.score.$error.required  && (mqForm.score.$viewValue > 0  ? (mqForm.score.$viewValue  <= 10 ?  false : true ) : true ) ) || mqsubmitedscore ")  Please enter a Score between 0 & 10                         
                                .col-md-3.pull-right
                                    button.btn.btn-defulte(type="button", ng-click="addQuestion(newQues);  ") Submit 
                                
                
