.row.table-row.no-gutter.accordion-item(ng-repeat="ques in phases.ms[1] ")
        .col-md-12.accordion-child
            //( href="#{% 'mq' + $index%} ")
            .row
                .col-md-12
                    .row
                        .col-md-12
                            h2 {%ques.title%} 
                                span.desc-icon
                        .col-md-8.MQTitle
                            .row
                                .col-md-12
                                    h3 Questions
                            .row(ng-repeat=" mq in ques.Qlist ")
                                .col-md-12 {% mq.title %}      
                        .col-md-4.mtsTitle
                            .row
                                .col-md-12
                                    h3 Target Users
                            .row(ng-repeat=" mts in ques.Tlist ")
                                .col-md-12 {% mts.title %}                                    
                            .row
                                .col-md-12
                                    h3 Duration
                                .col-md-6.score
                                    p From : {% ques.from %}   
                                .col-md-6.score
                                    p To : {% ques.to %}   
                                .col-md-12.score
                                    p Grade : {% ques.ScoreTargetedRanges  %}   
                        
                                                        
                                                
.addList(id="", class="") 
    .row.table-row.no-gutter.accordion-item()
        .col-md-12.accordion-child()
            .row
                .close.col-md-12
                        .icon.pull-right
                .col-md-12
                    form.row(name="msForm")
                        .col-md-12
                            h2 
                                span +  
                                | Add to this list
                        .col-md-12.input-div
                            input(data-target="#", type="text",placeholder="What you Would like to Ask about ? ", ng-model="newSurv.Title", required ,name="title" )  
                        .col-md-12.error(ng-show=" ( msForm.title.$touched &&  msForm.title.$error.required  )  || submitedtitle ")  Please enter a valid title.                         
                        .col-md-12.option-link
                            .row 
                                .col-md-6
                                    .row 
                                        .col-md-1.col-sm-1.col-xs-2
                                            .desc-icon
                                        .col-md-11.col-xs-10.col-sm-11
                                                .dropdown
                                                    a#QuesType(ng-click="   newSurv.Qlist = newSurv.Qlist || [] ",  href="#", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                        .init-score {% ' Chose your Question from list ' %}
                                                        span.caret
                                                    ul.dropdown-menu(aria-labelledby='QuesType')
                                                        li(ng-repeat="mq in phases.mq[1]")
                                                            a.hr(href="#", ng-click=" newSurv.Qlist.push(mq) ") {% mq.title %}
                                                .row 
                                                    .col-md-12.error(ng-show="submitedQlist ")  Please enter a valid date. 
                                                     
                                            .hidden-div
                                                | The beta version needs to test the usability of product features (from alpha features to newer beta features) to approve the product as an alternative to using Google Spreadsheets.
                                .col-md-6
                                    .row 
                                        .col-md-1.col-sm-1.col-xs-2
                                            .desc-icon
                                        .col-md-11.col-xs-10.col-sm-11
                                                .dropdown
                                                    a#QuesType(ng-click="   newSurv.Tlist = newSurv.Tlist || [] ",  href="#", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                        .init-score {% ' Chose your Question from list ' %}
                                                        span.caret
                                                    ul.dropdown-menu(aria-labelledby='QuesType')
                                                        li(ng-repeat="mts in phases.mts[1]")
                                                            a.hr(href="#", ng-click=" newSurv.Tlist.push(mts) ") {% mts.title %} 
                                                .row 
                                                    .col-md-12.error(ng-show=" submitedTlist ")  Please enter a valid date. 
                                .col-md-12
                                    .row
                                        .col-md-4.col-xs-6.col-sm-6
                                            input.init-score(type="date",placeholder="Start From ",ng-model="newSurv.from" , name="from" , required) 
                                            .row 
                                                .col-md-12.error(ng-show="( msForm.from.$touched &&  msForm.from.$error.required  ) || submitedfrom")  Please enter a valid date.                         

                                        .col-md-4.col-xs-6.col-sm-6
                                            input.init-score(type="date",placeholder="End At",ng-model="newSurv.to", name="to" , required) 
                                            .row 
                                                .col-md-12.error(ng-show="( msForm.to.$touched &&  msForm.to.$error.required  ) || submitedto ")  Please enter a valid date.                         
                                       .col-md-4.pull-right
                                            button.btn.btn-defulte(type="button", ng-click="addSurvay(newSurv)") Submit 
                                
                
 