// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js")

script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js', charset='utf-8')
script(src='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css')

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
script(src="./js/script.js")
script(src="./js/frontend.js")

