doctype html
html.bg-grad(lang='en')
    include ./header.jade
    body(ng-app="hrsurvay" ,ng-controller="HRSurvayController as HRSurvayQues")
        include ./body/intro.jade
        include ./body/hr.jade
        include ./body/emp.jade
        section.total-hour.animation.twest(ng-show="twest") 
            .container
                .row
                    .col-md-12
                        .time Saved
        include ./footer.jade 
        